{% extends 'base.html.twig' %}

{% block contenu %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">
                        Identifiants incorrects
                    </div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        Vous êtes connecté comme        
                        {{ app.user.username }}
                        ,             
                        <a class="btn btn-black" href="{{ path('app_logout') }}">
                            Déconnexion                     
                        </a>
                    </div>
                {% endif %}

                <h2 class="text-decoration-underline">
                    Veuillez vous connecter 
                </h2>

                <label for="inputEmail">
                    Email  
                </label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                <label for="inputPassword">
                    Mot de passe                 
                                            
                </label>
                <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <BR>

                <button class="btn btn-dark" type="submit">
                    Se connecter 
                </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
            