<form method="post" action="{{ path('formation_delete', {'id': formation.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer cet élément ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ formation.id) }}">
    <button class="btn btn-dark">Supprimer</button>
</form>
