{% extends 'base.html.twig' %}

{% block contenu %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-decoration-underline">
                    Ajouter une formation
                </h2>

                {{ include('formation/_form.html.twig') }}

                <br>

                <a class="btn btn-dark" href="{{ path('formation_index') }}">
                    Retourner à la liste
                </a>

            </div>
        </div>
    </div>
{% endblock %}
