{% extends 'base.html.twig' %}

{% block title %}{{parent()}}{% endblock %}
{% block header %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <h1>Liste des stages triés par Entreprises</h1>
    </div>
{% endblock %}
{% block body %}
    <div>
        <p>Voici la liste des stages triés par entreprises :</p>
    </div>
    <div>
        <ul>
        {% for stage in tabStages %}
            <li>{{ stage }} <a href=./stages/{{ stage }}>Lien</a></li>
        {% endfor %}
        </ul>
    </div>
    <div>
        <a href=./formations>Trier par formations</a><br>
        <a href=./>Revenir à l'accueil</a>
    </div>
{% endblock %}